.app-navbar {
  margin-bottom: 0;
  //background-color: #fff;
}

#page-title {
  background-color: #f8f8f8;
  border-bottom: 1px solid #e7e7e7;
  
  padding: 10px 0;
  margin-bottom: 20px;
  
  h1 {
    font-size: 24px;
    margin: 0;
  }
}
