@(form: Form[TodoItem])(list: TodoList)(item: TodoItem)

@implicitField = @{ helper.FieldConstructor(forms.bootstrapFieldConstructor.f) }

@titleText = @{ 
    (if(item == null) "Add New Item to List '" 
    else "Edit Item in List '") + 
    list.getName() + "'" 
}
@actionUrl = @{
    if(item == null) routes.TodoItems.addItem(list.getId()) 
    else routes.TodoItems.editItem(list.getId(), item.getId())
}

@main(titleText) {
  <script type="text/javascript">
    $(document).ready(function(){
        $('#text').focus();
    
        $('#reminder').datepicker({
            format: "dd/M/yyyy",
            autoclose: true,
            todayHighlight: true
        });
    });
  </script>
} {
  <div class="container">
    @helper.form(action = actionUrl, 'class -> "form-horizontal", 'role -> "form") {
      @helper.CSRF.formField
      @forms.globalError(form)
      @forms.inputText(form("text"))
      @forms.inputText(form("reminder"))

      @forms.buttonRow {
        <button type="submit" class="btn btn-default btn-primary">Save</button>
        <a href="@routes.TodoLists.viewList(list.getId())" class="btn btn-default">Cancel</a>
      }
    }
  </div>
}
