@(form: Form[TodoList])

@implicitField = @{ helper.FieldConstructor(forms.bootstrapFieldConstructor.f) }

@main("Add New List")() {


  <div class="container">
    @helper.form(action = routes.TodoLists.addList(), 'class -> "form-horizontal", 'role -> "form") {
      @helper.CSRF.formField
      @forms.globalError(form)
      @forms.inputText(form("name"))

      @forms.buttonRow {
        <button type="submit" class="btn btn-default btn-primary">Save</button>
        <a href="@routes.TodoLists.viewLists" class="btn btn-default">Cancel</a>
      }
    }
  </div>
}
