@(form: Form[Login])

@implicitField = @{ helper.FieldConstructor(forms.bootstrapFieldConstructor.f) }

@main("Login")() {

  <div class="container">
    @helper.form(action = routes.Application.authenticate(), 'class -> "form-horizontal", 'role -> "form") {
      @helper.CSRF.formField
      @forms.globalError(form)
      @forms.inputText(form("email"))
      @forms.inputPassword(form("password"))

      @forms.buttonRow {
        <button type="submit" class="btn btn-default btn-primary">Login</button>
      }
    }
  </div>
}
