@(list: TodoList)(form: Form[TodoItem])

@main("List: " + list.getName()) {
  <style>
    .itemDelete {
        cursor: pointer;
    }
  </style>
 
  <script type="text/javascript">
    $(document).ready(function(){
        $('input[data-group="doneCheckbox"]').click( function() {
            var checkbox = $(this);
            $.post( 
                "@routes.TodoItems.updateDone(list.getId())", 
                {id: checkbox.attr('data-itemid'), done: checkbox.prop("checked")} );
        });

        $('span.itemDelete').click( function() {
            var deleteIcon = $(this);
            $.post( 
                "@routes.TodoItems.deleteItem(list.getId())", 
                {id: deleteIcon.attr('data-itemid')},
                function() {
                	deleteIcon.closest('tr').remove();
                });
        });
    });
  </script>
} {

  <div class="container">
    <table class="table">
      <thead>
        <tr>
          <th>Done</th>
          <th width="80%">Item</th>
          <th>Reminder</th>
          <th>&nbsp</th>
        </tr>
      </thead>
      <tbody>
        @for(item <- list.getItems()) {
          <tr>
            <td><input data-group="doneCheckbox" data-itemid="@item.getId()" type="checkbox" 
              id="checked@item.getId()" name="done" value="true" @if( item.isDone() ) { checked="checked }"></td>
            <td><a href="@routes.TodoItems.editItemForm(list.getId(), item.getId())">@item.getText()</a></td>
            <td>@if( item.getReminder() != null ) { @item.getReminder().format("dd MMM yyyy") }</td>
            <td><span data-itemid="@item.getId()" class="itemDelete glyphicon glyphicon-trash"></span></td>
          </tr>
        }
      </tbody>
    </table>
    
    <a href="@routes.TodoItems.addItemForm(list.getId())" class="btn btn-default btn-primary">Add Item</a>
    <a href="@routes.TodoLists.viewLists" class="btn btn-default">Back</a>

  </div>

}
