@(lists: List[TodoList])

@main("To Do Lists")() {

  <div class="container">

    <ul id="lists">
        @for(list <- lists) {
            <li><a href="@routes.TodoLists.viewList(list.getId())">@list.getName()</a></li>
        }
    </ul>

    <a href="@routes.TodoLists.addListForm" class="btn btn-default btn-primary">New List</a>
  </div>
}
